body {
  background-color: black;

}

#header {
  background-color: ivory;
  border-radius: 25px;
  text-align: center;
}

.player, .computer{
  height: 90%;

  background-color: gray;
  color: ivory;
  border-radius: 25px;
  text-align: center;
  float:left; 
  width:43%;
}

.mid{
  background-color: gray;
  color: ivory;
  border-radius: 25px;
  text-align: center;
  float:left; 
  width:14%;
}

#comp-temp, #comp-wind, #comp-humidity, #comp-dayhours, #play-temp, #play-wind, #play-humidity, #play-dayhours{
  background-color: ivory;
  color: black;
  border-radius: 8px;
  text-align: left;
  width:70%;

}

#comp-temp:hover, #comp-wind:hover, #comp-flight:hover, #comp-dayhours:hover, #play-temp:hover, #play-wind:hover, #play-flight:hover, #play-dayhours:hover{background-color: red;}

.card{
  margin: 0 auto;
  background-color: salmon;
  color: black;
  border-radius: 18px;
  align-self: center;
  width:95%;
  height:90%;
}

.city-image{
  margin: 0 auto;
  border-radius: 18px;
  background-color: white;
  background-border: black;
  background-border-width: 2px;
  width:75%;
  height:30%;

}

.trump-items{
  margin: 0 auto;
  border-radius: 18px;
  background-color: yellow;
  background-border: black;
  background-border-width: 2px;
  width:75%;
  height:30%;

}
h3 {
    display: inline;
}